
body {
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Poiret One', cursive;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
div {
    width: 500px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 50px; 
    text-align: center;
    margin: 50px 30px 0 35px;
}
select {
    width: 200px;
    height: 40px;
    text-align: center;
    margin-bottom: 20px;
}
option {
    display: inline-block;
}
input {
    text-align: center;
    width: 256px;
    margin-left: calc(50% - 128px);
    height: 50px;
    color: grey;
    font-size: 23px;
    margin-top: 10px;
}
input[type=submit] {
    -moz-appearance: textfield;
}
